

<h1> Welcome to One Month Rails!</h1>
<p> You`ve found the home pahe of 
	<%= link_to "One Month Rails", "https://onemothrails.com" %>
	application.
</p>

<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>

