  <div class="footer">
                    <small> 
                    <a href="Http://onemonthrails.com"> One Month rails</a> 
                    by Mattan Griffel
                    </small>
               </div>
